* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  /* background-image: ; */
  overflow-y: hidden;
}

.hidden {
  display: none;
}
img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -7px;
  z-index: -1;
  width: 100%;
}

.clock-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
}

#clock {
  font-size: 160px;
  font-family: "Times New Roman", Times, serif;
}
#login-form {
  margin: 15px;
}

#login-form input {
  border: none;
  outline: none;
  padding: 2px 0px;
  font-size: 28px;
  background-color: transparent;
  border-bottom: 2px solid white;
  text-align: center;
}

#login-form input::placeholder {
  color: beige;
  text-align: center;
}

#todo-form input {
  border: none;
  outline: none;
  padding: 2px 0px;
  font-size: 28px;
  background-color: transparent;
  border-bottom: 2px solid white;
  text-align: center;
}

#todo-form input::placeholder {
  color: beige;
  text-align: center;
}

#quote {
  margin-top: 50px;
  font-size: 22px;
}

#todo-list span {
  color: black;
  font-size: 18px;
  font-weight: 900;
}
#todo-list button {
  border: none;
  border-radius: 20px;
  background-color: transparent;
  margin-left: 5px;
}
